* {      /* для ВСЕХ эл-тов на стр. */
    box-sizing: border-box;   /* Высота и ширина блока учитывает margin, border и padding */
    margin: 0;   /* чтобы сбросить значения по умолч. */
    padding: 0;  /* чтобы сбросить значения по умолч. */

    font-family: 'Rubik', sans-serif;  /* Через ЗАПЯТУЮ */
}

/* Врехнее меню */
.topmenu {
    height: 10vh;
    margin-left: 15%; /* Same as the width of the sidebar */
    background: url('../img/BG_colorful_LONG.png') center center/cover no-repeat;   /* Фон. В url - путь к файлу В КАВЫЧКАХ. Картинка не в одной папке с файлом CSS, сначала выйти из папки ../, далее через пробел остальные свойства фона - по центру по вертикали и горизонтали, растянуть картинку на весь размер блока, не повторять картинку. Если не нужно другие свойства, закнчиваем. Все свойства в описании background (https://cssreference.io/backgrounds/) ВАЖНО! между свойств center и cover ОБЯЗАТЕЛЬНО СЛЕШ (/)  */

    background-color: #F0B1A3;
    overflow: hidden;
}
.topmenu ul {
    margin: 0;
}

.topmenu li, .sidebar li {
    list-style-type: none;
}

/* Style the links inside the navigation bar */
.topmenu a {
    float: left;
    color: #123c69;
    text-align: center;
    padding: 2.5vh 10%;
    text-decoration: none;
    font-size: 4vh;
    font-weight: 700;
    transition: 0.3s; /* Время эффекта */
}

/* Change the color of links on hover */
.topmenu a:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

/* Add a color to the active/current link */
.topmenu a.active {
    background-color: #4CAF50;
    color: white;
}
/* Логотип в верхнем меню */

.topmenu a.topmenu-logo {
    padding: 0 3%;
}

.topmenu img {
    height: 10vh;
    background-color: #0a0a0a00;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-decoration: none;
}

/* Сделать фоновую картинку прозрачной, текст поверх блока непрозрачный */
.sidebar::before {
    content: "";
    background-image: url('../img/BG_colorfu_HIGH.png');
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
  }

.sidebar ul {
    padding-left: 7%;
}

/* The navigation menu links */
.sidebar a {
    padding: 1%;
    text-decoration: none;
    font-size: 1em;
    color: #123c69;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    font-weight: 500;
}

.sidebar a.active {
    font-weight: 500;
    flex-direction: linear;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Стиль основного блока главной страницы */
main {
    min-height: 90vh;
    margin-left: 15%; /* Same as the width of the sidebar */
/*     margin-top: 10vh; /* На высоту верхнего навигационного меню */
    padding: 1.5em;
    background: linear-gradient(to bottom right, #1386A2, #CAF6FF);
}

.title {
    width: 45%;
    margin: auto;
    margin-top: 1%;
}

.title img {
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.introduction-img {
    width: 28%;
}

.introduction-txt {
    width: 40%;
    font-size: 1.2em;
    color: #123c69;
    text-align: justify;
}

.introduction img {
    width: 100%;
}

/* Общие стили игрового поля */
.game_field {
    min-height: 100vh;
    padding: 1.5em;
    background: linear-gradient(to bottom right, #1386A2, #CAF6FF);
}

.game_field-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.round_btn {
    width: 4vw;
    height: 4vw;    /* чтобы сделать квадрат */
    border: none;
    border-radius: 50%;
    background-color: #123c69;
    background-image: linear-gradient(to top, #123c69, #1386A2);
    box-shadow: 0 5px 15px 0 rgba(18, 60, 105, 1);
}

.round_btn:hover {
    box-shadow: 0 5px 5px 0 rgba(18, 60, 105, 1);
}

.round_btn img {
    width: 70%;
}

.round_btn:hover img {
    width: 60%;
}

.round_btn a {
    color: #123c69;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 1px #CAF6FF;
}

.round_btn:hover a {
    font-weight: 500;
    text-shadow: none;
}

.game_field-title_subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 3%;
    }    

.game_field-title {
    margin: 0px;
    color: #123c69;
    text-align: center;
}

.game_field-subtitle {
    margin-top: 1%;
    font-size: 2.8vh;
    color: #123c69;
    text-align: center;
}

.game_field-header-btn {
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #1386A2, #CAF6FF);
    border: none;
    border-radius: 10px;
    font-size: 2vh;
    font-weight: 600;
    color: #123c69;
    box-shadow: 0 5px 15px 0 rgba(18, 60, 105, 1);
    transition: 0.5s;
}

.game_field-header-btn:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(18, 60, 105, 1);
}

.game_field-wrapper {
    display: flex;
    margin-top: 1.5%;
}

/* Стили для игры ОН/ОНА/ОНО */

.hesheit_table {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hesheit_table-header, .hesheit_table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hesheit_table-header-cell {
    width: 30%;
    margin: 0 ;
    background: #CAF6FF linear-gradient(30deg, rgba(0,0,0,.2), rgba(0,0,0,0) 50px, rgba(0,0,0,0));
    box-shadow: 0 0 0 1px #999 inset;
    position: relative;
}

.hesheit_table-header-img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.hesheit_table-header-pin {
    width: 20%;
    position: absolute;
    top: -10px;
    right: 0;
}

.hesheit_table-header-text {
    margin-bottom: 1%;
    font-size: 1.2em;
    font-weight: 900;
    color: #123c69;
    text-align: center;
}

.hesheit_table-cell {
    width: 30%;
    height: 10vh;
    margin-top: 1%;
    background: #CAF6FF linear-gradient(30deg, rgba(0,0,0,.2), rgba(0,0,0,0) 50px, rgba(0,0,0,0));
    box-shadow: 0 0 0 1px #999 inset;
    display: flex;
    justify-content: center;
}

.hesheit_words {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hesheit_words-block {
    width: 14vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    background-color: #1386A2;
    font-size: 1.1em;
    font-weight: 700;
    color: #123c69;
    position: relative;
    background: #CAF6FF linear-gradient(30deg, rgba(0,0,0,.2), rgba(0,0,0,0) 50px, rgba(0,0,0,0));
    border-bottom-left-radius: 1.1em;
    box-shadow: 0 0 0 1px #999 inset;
}

.hesheit_words-block:after {
    content: '';
    width: 0.9em;
    height: 0.9em;
    position:absolute;
    bottom: 0.4em;
    left:0.7em;
    z-index: -1;
    box-shadow: -20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}

.hesheit_words-block:before {
    content: '';
    width: 0.6em;
    height: 0.7em;
    position: absolute;
    bottom: 0.09em;
    left: 0.18em;
    background: linear-gradient(30deg, #999 1px, #CAF6FF 90%);
    border-bottom-left-radius: 60px;
    box-shadow: 0 0 0 1px #999 inset;
    -webkit-transform: skew(20deg, 20deg) rotate(-9deg);
    transform: skew(20deg, 20deg) rotate(-9deg);
}

/* Стили для игры Товары по магазинам */
.goodsshops-shops {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goodsshops-shop {
    width: 12vw;
    height: 12vw;
    margin: 0 2% 2% 2%;
    padding: 0 0 3% 0;
    background-image: url(../img/shops/shop.png);
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goodsshops-shop[data-shoptipe = 'mall'] {
    background-image: url(../img/shops/mall.png);
}


.goodsshops-shop-signboard {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    border: #734C36 2px solid;
    border-radius: 20%;
    background-color: #B97A57;
    color: #880015;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    /* Свечение вокруг блока */
    -moz-box-shadow:0 0 15px #000;
    -webkit-box-shadow:0 0 15px #000;
    box-shadow:0 0 15px #000;
}

.goodsshops-goods {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.goodsshops-product {
    width: 18%;
    margin: 0 3%;
    display: flex;
    align-items: center;
}

.goodsshops-product img {
    width: 100%;
}

/* .goodsshops-product:hover img {
    transform: scale(1.7); /* Увеличиваем масштаб при наведении 
} */

.onemany-mainpart {
    width: 65%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow:rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.onemany-couple {
    width: 22vw;
    height: 3vw;
    margin: 1.05% 0;

    display: flex;
    align-items: center;
    border-top-left-radius: 20% 30%;
    border-bottom-left-radius: 20% 30%;
    border-top-right-radius: 20% 30%;
    border-bottom-right-radius: 20% 30%;
    box-shadow: rgba(0,0,0,.8) 3px -3px 8px -3px;

}

.onemany-singular {    
    width: 11vw;
    height: 3vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top-left-radius: 20% 30%;
    border-bottom-left-radius: 20% 30%;
    color: #123c69;
    font-size: 2.5vh;
    font-weight: 700;

    background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.35), rgba(255,255,255,.65));
    box-shadow:
    inset rgba(0,0,0,.5) 3px -3px 8px,
    inset rgba(255,255,255,.9) -3px 3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.onemany-secondarypart {
    width: 35%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.onemany-plural {
    width: 11vw;
    height: 3vw;
    margin: 2% 0;
    padding: 1vw;
    display: flex;
    align-items: center;
    border-top-right-radius: 20% 30%;
    border-bottom-right-radius: 20% 30%;
    color: #123c69;
    text-align: left;
    font-size: 2.5vh;
    font-weight: 700;

    background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow:
     inset rgba(0,0,0,.5) -3px -3px 8px,
     inset rgba(255,255,255,.9) 3px 3px 8px,
     rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.toyshopstory-mainpart {
    width: 40%;
    padding: 0 1vw;
    margin: 0 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.toyshopstory-tofill {
    width: 35vw;
    height: 8vw;
    margin: 1vw 0;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    color: #123c69;
    text-align: left;
    font-size: 2.3vh;
    font-weight: 500;

    box-shadow: rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.toyshopstory-secondarypart {
    width: 40%;
    padding: 0 1vw;
    margin: 0 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.toyshopstory-illustration {
    width: 20%;
}

.toyshopstory-illustration img {
    width: 100%;
    margin-top: 2%;
}

.toyshopstory-parts {
    width: 35vw;
    height: 8vw;
    margin: 1vw 0;
    padding: 1vw;
    display: flex;
    align-items: center;
    border-radius: 2vh;
    color: #123c69;
    text-align: left;
    font-size: 2.3vh;
    font-weight: 500;

    background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow:
     inset rgba(0,0,0,.5) -3px -3px 8px,
     inset rgba(255,255,255,.9) 3px 3px 8px,
     rgba(0,0,0,.8) 3px 3px 8px -3px;
}